body,html 
    margin: 0
    padding: 0
    font-family: 'Helvetica Neue'
    min-height: 100vh

h1,h2,h3,h4,h5,h6,p,span,div,a
    font-family: "Helvetica Neue"
    letter-spacing: .1px

input::placeholder
    color: #A8B1CE
    opacity: 1


.custom-input
    border: 1px solid #A8B1CE
    border-radius: 5px
    overflow: hidden
    position: relative

    .btn-switch-pw
        position: absolute
        top: 13px
        right: 15px
        width: 15px
        height: 15px
        z-index: 10
        cursor: pointer

    .ico-eye
        display: inline-block
        width: 15px
        height: 15px
        background: url(../images/ico/ico-eye.svg) no-repeat center
        background-size: contain

        &.hidden
            background-image: url(../images/ico/ico-eye-hidden.svg)

    input
        display: block
        border: none
        appearance: none
        padding: 12.5px 14px
        color: #1F1F1F
        width: 100%
        height: 100%
        box-sizing: border-box
        

input:focus
    border: none
    box-shadow: none
    outline: none