

.ico-list
    display: inline-block
    width: 25px
    height: 25px
    background: url(../images/ico/ico-list.svg) no-repeat center

.ico-profilo
    display: inline-block
    width: 25px
    height: 25px
    background: url(../images/ico/ico-personal.svg) no-repeat center

.ico-next
    display: inline-block
    width: 30px
    height: 30px
    background: url(../images/ico/ico-arrow-right.svg) no-repeat 2px 1px
    vertical-align: middle


.ico-settings
    display: inline-block
    width: 25px
    height: 25px
    background: url(../images/ico/ico-setting.svg) no-repeat center



.ico-alert
    display: inline-block
    width: 35px
    height: 35px
    background: url(../images/ico/ico-bell.svg) no-repeat center
    


.ico-sing-out
    display: inline-block
    width: 35px
    height: 35px
    background: url(../images/ico/ico-sign-out.svg) no-repeat center



.ico-calendar
    display: inline-block
    width: 35px
    height: 35px
    background: url(../images/ico/ico-calendar.svg) no-repeat center


.ico-search
    position: relative
    display: inline-block
    width: 40px
    height: 40px
    background: url(../images/ico/ico-search.svg) no-repeat center
    vertical-align: middle


.ico-arrow-down
    position: relative
    display: inline-block
    width: 25px
    height: 10px
    background: url(../images/ico/ico-arrow-down.svg) no-repeat center
    vertical-align: middle
    margin-left: 20px
