
.login
    .row
        display: flex
        align-items: stretch
        justify-content: center

    .col
        flex: 50%
        max-width: 50%
        min-height: 100vh
        display: flex
        align-items: center

        &.color-bg
            background: #F8F9FD

    .col-content
        width: 503px
        margin: 0 auto


.login-header
    margin-bottom: 30px
    padding-left: 42px
    h3
        color: #2C3D8F
        font-size: 24px
        line-height: 1.5
        font-weight: 700
        letter-spacing: .5px
        margin: 0
        margin-bottom: 15px

    p
        margin: 0
        font-size: 16px
        font-weight: 300
        line-height: 1.5
        letter-spacing: .5px


.photo-slide-box-dots
    position: relative
    padding-left: 42px

    span
        display: inline-block
        width: 25px
        height: 7px
        border-radius: 3px
        background: #A8B1CE
        margin: 0 4px

        &.active
            background: #2C3D8F


.gomore-logo
    width: 76px
    margin: 0 auto

.login-form-header
    color: #1F1F1F
    font-size: 16px
    line-height: 1.5
    letter-spacing: .5px
    margin-bottom: 45px
    text-align: center

    a
        color: #2C3D8F
        text-decoration: none



.form-label
    position: relative
    margin-bottom: 15px
    span
        color: #525252
        font-size: 14px
        line-height: 1.5
        display: block
        margin-bottom: 10px

    .error-msg
        display: none

    &.is-error
        .custom-input
            border-color: #F2453D
        .error-msg
            display: block


.form-other-label
    padding-top: 80px
    overflow: hidden
    margin-bottom: 20px

    a
        float: right
        display: inline-block
        color: #2C3D8F
        font-size: 12px
        line-height: 1.5


a.btn-default
    display: block
    width: 100%
    color: white
    background: #2C3D8F
    appearance: none
    border-radius: 5px
    border: none
    cursor: pointer
    text-decoration: none
    text-align: center
    line-height: 45px

.checkbox
    color: #2C3D8F
    font-size: 12px
    line-height: 1.5
    display: inline-block
    
    input
        display: inline-block
        appearance: none
        border-radius: 50%
        width: 11px
        height: 11px
        border: 1px solid #2C3D8F
        margin: 0
        background: #F8F9FD
        vertical-align: middle
    span
        padding-left: 12px
        line-height: 1.5
        vertical-align: middle


span.error-msg
    display: block
    color: #F2453D
    font-size: 12px
    line-height: 1.5
    padding-top: 5px
