
// List
#header
    width: 100%
    height: 55px
    border-bottom: 1px solid #BCBCBC
    padding-top: 18px
    box-sizing: border-box
    overflow: hidden
    .container
        padding-left: 50px
        padding-right: 40px

    .logo
        display: inline-block
        width: 118px
        img
            width: 100%


main
    display: flex
    align-items: stretch
    min-height: 100vh

    .sidebar
        flex: 275px
        max-width: 275px
        background-color: #fff

    .content
        flex: calc(100% - 275px)
        background: #F8F9FD
        overflow: hidden



.sidebar
    .sidebar-content
        max-width: 223px
        margin: 0 auto
        padding-top: 18px


    ol
        list-style: none
        padding-left: 0

        li
            margin-bottom: 18px

        i
            vertical-align: middle
            margin-right: 12px


        a
            display: block
            color: #1F1F1F
            letter-spacing: .1px
            border-radius: 5px
            background-color: #fff
            border: 1px solid transparent
            text-decoration: none
            padding: 6px 34px
            line-height: 1
            box-sizing: border-box
            transition: all .4s ease

            svg
                display: inline-block
                vertical-align: middle
                margin-right: 10px
                margin-top: -2px
                path
                    stroke: #1F1F1F

            &:hover
                color: #2C3D8F
                border-color: #2C3D8F
                background-color: #F2F5FF
                path
                    stroke: #2C3D8F
    li.active a
        color: #2C3D8F
        border-color: #2C3D8F
        background-color: #F2F5FF
        path
            stroke: #2C3D8F

.content
    .inner
        padding: 18px 32px


.user-tool
    float: right
    margin-top: -10px

    ol
        list-style: none
        padding: 0
        margin: 0

        li
            display: inline-block
            vertical-align: middle
            margin-right: 10px
            &:last-child
                margin-right: 0

.user-profilo
    position: relative

    img
        display: inline-block
        width: 35px
        margin-right: 10px
        vertical-align: middle

    .name
        color: #1F1F1F
        font-size: 14px
        line-height: 35px


a.ico-btn
    display: flex
    border-radius: 5px
    background-color: #F8F9FD
    color: #2C3D8F
    font-size: 14px
    text-decoration: none
    align-items: center

    > div
        flex: 35px
        max-width: 35px

    span
        display: inline-block
        vertical-align: middle
        padding-right: 8px



.filter-tool
    display: flex
    align-items: flex-start
    overflow: hidden
    margin-bottom: 25px

    .left
        flex: 78%
        padding-right: 12px

    .right
        flex: 22%



.filter-calendar
    border-radius: 5px
    background: #FFFFFF
    color: #A8B1CE
    font-size: 14px
    line-height: 1.5
    display: flex
    align-items: center
    padding: 3px 10px 2px
    user-select: none
    float: left


.filter-search
    position: relative
    input
        border: none
        width: 100%
        height: 40px
        padding: 12px
        box-sizing: border-box
        padding-right: 42px
        border-radius: 5px
        background: #fff
        overflow: hidden
        
    .btn-search
        position: absolute
        top: 0
        right: 0
        width: 42px
        height: 40px
        vertical-align: middle


.table

    label
        cursor: pointer

    .table-header
        margin-bottom: 10px
        background-color: #fff
        color: #2C3D8F
        font-size: 12px
        line-height: 1.5
        font-weight: bold
        padding: 13px 25px
        letter-spacing: .2px

    .table-body
        margin-bottom: 10px
        color: #1F1F1F
        font-size: 12px
        line-height: 1.5
        font-weight: 400
        letter-spacing: .2px

        .tr
            padding: 15px 25px
            background: #fff
            border-bottom: 1px solid rgba(#1F1F1F,.08)

        .tr:nth-child(even)
            background: #FAFBFF
            
    
    .tr
        display: flex

    .td,.th
        flex: 1

        &:nth-child(1)
            flex: 50px
        
        &:nth-child(2)
            flex: 145px
        
        &:nth-child(3)
            flex: 75px
        
        &:nth-child(4)
            flex: 100px
            
        &:nth-child(5)
            flex: 70px

        &:nth-child(6)
            flex: 200px
        
        &:nth-child(7)
            flex: 160px
            

    a
        color: #1F1F1F
        text-decoration: none

        &:hover
            text-decoration: underline

.pagination
    display: inline-block
    margin-top: 20px
    float: right

    a
        display: inline-block
        width: 30px
        height: 30px
        color: #1F1F1F
        font-size: 14px
        line-height: 30px
        text-align: center
        text-decoration: none
        background-color: #fff
        border-radius: 5px
        vertical-align: middle
        border: 0.5px solid #fff

        &.active
            color: #2C3D8F
            border-color: #2C3D8F
            background-color: #F2F5FF


//sidebar user information
.user-infor
    border-radius: 10px
    background-color: #F8F9FD
    padding-top: 19px
    margin-top: 94px

.user-infor-title
    color: #131A29
    font-size: 14px
    line-height: 1.5
    font-weight: bold
    margin: 0
    margin-bottom: 18px
    padding: 0 16px


.user-infor-detail
    color: #131A29
    font-size: 12px
    font-weight: 400
    line-height: 1.5

    .item
        display: flex
        padding: 8px 15px

        div
            flex: 50%

            &:nth-child(2)
                text-align: right
.user-infor-photo
    margin-bottom: 15px
    padding: 0 16px
    text-align: center
    img
        width: 68px
        margin: 0 auto 9px

    .name
        color: #131A29
        font-size: 14px
        font-weight: bold
        line-height: 1.5
        letter-spacing: .3px


.nav:after,
.nav:before
  content:""
  display: table

.nav:after
  clear: both
  overflow: hidden

.nav-tabs
    border-bottom: 1px solid rgba(#2C3D8F,.5)
.nav
    margin: 0
    padding-left: 0
    font-size: 13px
    line-height: 1.2
    text-align: center
    margin-bottom: 14px

.nav li
  list-style: none
  float: left
  position: relative
  margin-right: 2px

.nav .active
  z-index: 3

.nav a
  float: left
  padding: 10px 11px
  min-width: 98px
  box-sizing: border-box
  text-decoration: none
  color: #131A29
  background: #fff
  border-radius: 5px 5px 0 0

.nav .active a
  background: #F2F5FF
  color:#2C3D8F
  border: 1px solid rgba(#2C3D8F,.5)
  border-bottom: 0
  position: relative

  &::before
    content: ""
    position: absolute
    bottom: -1px
    left: 0
    width: 100%
    height: 10px
    background-color: #F2F5FF

.line-chart
    
    img
        display: block
        width: 100%
        max-width: 1020px

    >div
        margin-bottom: 10px
        border-radius: 10px
        background-color: #fff


.order-box
    border-radius: 10px
    background-color: #fff

    .title
        padding-left: 26px
        padding-top: 8px
        padding-bottom: 7px
        margin: 0


.order-box-header
    display: flex
    align-items: flex-end

    .nav
        margin: 0
        margin-top: 13px

        a
            background-color: #F8F9FD

    .title
        color: #131A29
        font-size: 18px
        font-weight: bold
        line-height: 1.5
        display: block
        flex: 720px
        border-bottom: 1px solid rgba(#2C3D8F,.5)


.order-box-content
    padding: 26px 23px 10px


.order-box-table
    color: #131A29
    font-size: 14px
    line-height: 27px
    letter-spacing: .3px


    ol
        list-style: disc
        padding-left: 15px
        margin: 0


    .tr
        background: #F8F9FD
        padding: 11px 12px
        margin-bottom: 8px
        display: flex
        align-items: flex-start


    .td,.th
        flex: auto
        padding: 0 25px

        &:nth-child(1)
            flex: 100px
            max-width: 100px


    .td:nth-child(2)
        border-left: 1px solid #A8B1CE